
<h2>Order Coffee</h2>

<form [formGroup]="this.ordersService.form" (ngSubmit)="onSubmit()">
  <input placeholder="Order Number"
         formControlName="orderNumber"
         type="text"
         class="input-field col s12">
  <input placeholder="Customer Name"
         formControlName="customerName"
         type="text"
         class="input-field col s12">
  <h4>Available Coffee</h4>
  <p>Select your favourite coffee to place an order</p>
  <button class="waves-effect waves-light btn col s4"
          *ngFor="let coffee of coffees"
          (click)="addCoffee(coffee)" type="button">
    {{coffee}}
  </button>
  <ul class="collection">
    <li *ngFor="let coffee of coffeeOrder">
      <span class="col s11"> {{ coffee }} </span>
      <a class="col s1" (click)="removeCoffee(coffee)">x</a>
    </li>
  </ul>

  <button
    class="waves-effect waves-light btn col s12"
    (click)="onSubmit()" type="button">
    Place Order
  </button>
</form>
